{% extends "base_generic.html" %}

{% block content %}
  <h1><a href="{% url 'name-update' demo.id %}">{{ demo.index }}.</a> {{ demo.name }}</h1>
  {% if demo.photo_set %}
  {% for photo in demo.photo_set.all %}
    {% if photo.id == demo.mainphoto %}
      <a class = "floating" href="{{ photo.imagefile.url }}"><img src="{{ photo.thumbnail.url }}" alt="picture"></a>
    {% endif %}
  {% endfor %}
  {% endif %}

  <div class="metadata">
  <p><strong><a href="{% url 'course-update' demo.id %}">Courses:</a> {% for course in demo.course.all %} {{ course }}{% if not forloop.last %}, {% endif %}{% endfor %}</strong></p>
  <p><strong><a href="{% url 'room-update' demo.id %}">Room:</a>{% if demo.room %} {{ demo.room }}{% endif %}</strong></p>
  <p><strong><a href="{% url 'location-update' demo.id %}">Location:</a> {{ demo.location }}</strong></p>
  <p><a href="{% url 'demo-tags' demo.id %}"><strong>Tags:</strong></a>
  {% for tag in demo.tags.all %} <a href="{% url 'tag' tag.id %}" class="tag">{{ tag }}</a>{% endfor %}</p>
  <p><a href="{% url 'demo-components' demo.id %}"><strong>Components:</strong></a>
  {% for component in demo.components.all %} <a href="{% url 'component' component.id %}" class="tag">{{ component }}</a>{% endfor %}</p>
  </div>

  <div class="description">
  {% if demo.description %}
    {{ demo.description | linebreaks }}<a href="{% url 'description-update' demo.id %}">[edit]</a>
  {% else %}
    <p><strong><a href="{% url 'description-update' demo.id %}">[add description]</a></strong></p>
  {% endif %}
  </div>

  <div class="note">
  <p><a href="{% url 'demo-add-note' demo.id %}">[add note]</a></p>
  {% for note in demo.notes.all %}
    {{ note.created | date:"Y-m-d" }}<a href="{% url 'demo-update-note' demo.id note.id %}"> {{ note.contributor }}</a>{{ note.text | urlize | linebreaks }}
  {% endfor %}
  </div>

  <div class="attachment">
    <p><a href="{% url 'add-file' demo.id %}">[add attachment]</a></p>
    {% for attachment in demo.attachment_set.all %}
      <p><strong><a href="{% url 'update-file' attachment.id %}">{{ attachment.contributor }}</a>: <a href="{{ attachment.otherfile.url }}">{{ attachment.description }}</a></strong></p>
    {% endfor %} 
  </div>

  <br />
  <p><strong><a href="{% url 'add-photo' demo.id %}">[add photo]</a></strong></p>
  {% for photo in demo.photo_set.all %}
    <div class="thumbnail">
    <p><a href="{% url 'photo-detail' photo.id %}"><img src="{{ photo.thumbnail.url }}" alt="picture"></a></p>
    {% if photo.caption %}<p><strong>{{ photo }}</strong></p>{% endif %}
    {% for note in photo.notes.all %}
      <p><strong>{{ note }}</strong></p>
    {% endfor %}
    </div>
  {% endfor %}
  
{% endblock %}