{% extends "base_generic.html" %}

{% block content %}
  <h1><a href="{% url 'name-update' demo.id %}">{{ demo.index }}.</a> {{ demo.name }}</h1>
  {% if demo.photo_set %}
  {% for photo in demo.photo_set.all %}
    {% if photo.id == demo.mainphoto %}
      <p><a href="{% url 'update-photo' photo.id %}"><img src="{% if photo.thumbnail %}{{ photo.thumbnail.url }}{% else %}{{ photo.imagefile.url }}{% endif %}" alt="picture"></a><strong><a href="{{ photo.imagefile.url }}">[full size]</a></strong></p>
    {% endif %}
  {% endfor %}
  {% endif %}

  <div class="description">
  {% if demo.description %}
    {{ demo.description | linebreaks }}<a href="{% url 'description-update' demo.id %}">[edit]</a>
  {% else %}
    <p><strong><a href="{% url 'description-update' demo.id %}">[add description]</a></strong></p>
  {% endif %}
  </div>

  <br />
  <div class="note">
  {% for note in demo.note_set.all %}
    <a href="{% url 'update-note' note.id %}">{{ note.contributor }}:</a>{{ note.text | linebreaks }}
  {% endfor %}
  {% if not demo.note_set.all %}
    <p>There are no notes for this demo.</p>
  {% endif %}
  <p><a href="{% url 'add-note' demo.id %}">[add note]</a></p>
  </div>

  <br />
  <div class="metadata">
  <p><strong><a href="{% url 'course-update' demo.id %}">Courses:</a> {% for course in demo.course.all %} {{ course }}{% if not forloop.last %}, {% endif %}{% endfor %}</strong></p>
  <p><strong><a href="{% url 'room-update' demo.id %}">Room:</a>{% if demo.room %} {{ demo.room }}{% endif %}</strong></p>
  <p><strong><a href="{% url 'location-update' demo.id %}">Location:</a> {{ demo.location }}</strong></p>
  <p><a href="{% url 'manage-tags' demo.id %}"><strong>Tags:</strong></a>
  {% for tag in demo.keyword_set.all %} <a href="" class="tag">{{ tag }}</a>{% endfor %}</p>
  </div>

  <br />
  <div class="attachment">
  {% for attachment in demo.attachment_set.all %}
    <p><a href="{{ attachment.otherfile.url }}">{{ attachment }}</a> ({{ attachment.description }}) <a href="{% url 'update-file' attachment.id %}">[edit]</a></p>
  {% endfor %}
  {% if not demo.attachment_set %}
    <p>There are no attachments for this demo.</p>
  {% endif %}
  <p><a href="{% url 'add-file' demo.id %}">[add attachment]</a></p>
  </div>
  <br />

  {% if demo.photo_set %}
  {% for photo in demo.photo_set.all %}
    {% if photo.id != demo.mainphoto %}
      <p><a href="{% url 'update-photo' photo.id %}"><img src="{% if photo.thumbnail %}{{ photo.thumbnail.url }}{% else %}{{ photo.imagefile.url }}{% endif %}" alt="picture"></a></p>
      <p><strong>{{ photo }} <a href="{{ photo.imagefile.url }}">[full size]</a></strong></p>
    {% endif %}
  {% endfor %}
  {% endif %}
  <p><strong><a href="{% url 'add-photo' demo.id %}">[add photo]</a></strong></p>

{% endblock %}