
{% extends "base_generic.html" %}

{% block content %}
  <div class="tagbox">
    <h1>Tags</h1>
    {% for tag in tags %}
      <p><a class="tag" href="">{{ tag }}</a></p>
    {% endfor %}
  </div>  
  <h1>{{ demo }}</h1>
  <h2>Tags</h2>
  <br />
  {% for tag in demo.tags.all %}
    <p><span class="tag">{{ tag }}</span> <strong><a href="{% url 'demo-delete-tag' demo.id tag.id %}">[x]</a></strong></p>
  {% endfor %}
  <br />
    <form action="" method="post">
        {% csrf_token %}
        <table>{{ form }}</table>
        <input type="submit" value="Add Tag" />
    </form>
  <br />
  <p><strong><a href="{% url 'demo-detail' demo.id %}">[done managing tags]</a></strong></p>
 
{% endblock %}