
{% extends "base_generic.html" %}

{% block content %}

  <div class="tagbox">
    <h1>Components</h1>
    {% for component in components %}
      <p><a class="tag" href="">{{ component }}</a></p>
    {% endfor %}
  </div>    
  <h1>{{ demo }}</h1>
  <h2>Components</h2>
  <br />
  {% for component in demo.components.all %}
    <p><span class="tag">{{ component }}</span> <strong><a href="{% url 'demo-delete-component' demo.id component.id %}">[x]</a></strong></p>
  {% endfor %}
  <br />
  <form action="" method="post">
    {% csrf_token %}
    <table>{{ form }}</table>
    <input type="submit" value="Add Component" />
  </form>
  <br />
  <p><strong><a href="{% url 'demo-detail' demo.id %}">[done managing components]</a></strong></p>
 
{% endblock %}